/* card.css */

.main {
  margin-top: 75rem;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjusted for better spacing */
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent black background */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 810px rgba(255, 255, 255, 0.3); /* Add some shadow for depth */
}

.heading {
  font-size: 45px; /* Adjust font size as needed */
  font-weight: bold; /* Make the heading bold */
  color: white; /* Ensure the text is visible on the dark background */
}

.excercises {
  height: 400px;
  width: 100%; /* Ensure it takes full width of the parent */
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-now {
  background-color: #0065fd;
  color: white;
  padding: 8px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.join-now:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}


.login-message {
  color: #130606; /* Red color for the message */
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px 20px;
  border: 2px solid #fdfdfd; /* Red border */
  border-radius: 5px;
  background-color: #fff5f5; /* Light red background */
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2); /* Light red shadow */
}