/* Contact.css */


#contact{
  width: 900px;
  margin-left: 12rem;
}
.container {
  width: 80%;
  margin: auto;
  width: 1200px;
}

.head {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: white;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: white;
}

input, textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input[type="text"], textarea {
  width: 100%;
}

textarea {
  height: 100px;
}

button.rounded {
  padding: 10px;
  background-color: #1e3c72;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.rounded:hover {
  background-color: #2a5298;
}
