/* frame-component2.css */

.navbar {
  background-color: rgba(46, 54, 60, 0);; /* Black background color */
  padding: 15px 20px; /* Padding for the navbar */
  display: flex; /* Flex layout for better alignment */
  justify-content: space-between; /* Space between items */
  align-items: center; /* Align items vertically */
  z-index: 30;
  width: 198vh;
  position: fixed;
}

.navbar-brand {
  font-size: 1.8rem; /* Larger font size for the brand */
  font-weight: bold; /* Bold font weight */
  color: #ffffff; /* White text color */
}

.brand-text {
  color: #ffffff; /* White text color */
}

.navbar-links ul {
  list-style: none; /* Remove default list styles */
  margin: 0;
  padding: 0;
}

.navbar-links ul li {
  display: inline-block; /* Display links horizontally */
  margin-right: 7rem; /* Margin between links */
}

.nav-link {
  color: #1f31d7; /* White text color */
  text-decoration: none; /* Remove underline */
  font-size: 1.8rem; /* Larger font size for navbar links */
  transition: color 0.3s, padding 0.3s; /* Smooth transition for color and padding change */
}

.nav-link:hover {
  color:#1f31d7; /* Lighter text color on hover */
  padding: 20px; /* Add padding on hover */
}

.nav-link:active {
  z-index: 10;
  background-color: #1f31d7; /* Background color on click */
}

.navbar-login .login-text {
  color: #000000; /* White text color */
  font-size: 1.3rem; /* Larger font size for login text */
  cursor: pointer;
  padding: 20px;
  margin: 10px;
  margin-right: 2rem;
  background-color: #1f31d7;
  transition: color 0.3s, padding 0.3s;
}

.navbar-login .login-text:hover {
  background-color:  #0f46ad;
 /* Underline on hover */
}


