.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#0f0a19 ;
    color: black; /* Updated color */
  }
  
  .signup-container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 20px;
  }
  
  .signup-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .signup-fields {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup-fields input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
  }
  
  .signup-container button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px; /* Adjusted font size */
  }
  
  .signup-container button:hover {
    background-color: darkgreen;
  }
  
  .signup-login {
    text-align: center;
    font-size: 16px;
  }
  
  .signup-login span {
    color: #ff4141;
    font-weight: 600;
  }